__pycache__
_build
_source
*.xlsx
!ifg/scripts/output/functional_groups.xlsx
!ifg/scripts/output/stats.xlsx
*.json
docs/build
poetry.lock
docx.log
notes.txt
main.log
TODO
.pytest_cache
.vscode
.pylintrc
.ipynb_checkpoints